body{
	background-color:rgb(35, 35, 35);
	color:white;
.container{
	display:flex;
	width:98vw;
	height:98vh;
	margin:1px;
	background-color:rgb(35, 35, 35);
	justify-content:center;
}

.container2{
	display:flex;
    justify-content:center;
    align-items:center;
    height:50vm;
    width:80%;
    background-color: rgb(35, 35, 35);
    margin:5px;
}

.con3{
	display:flex;
	flex-direction:column;
	align-items:center;
	border:2px solid white;
	padding:10px;
}

.item{
	height:100px;
    width:100px;
    background-color: yellow;
}