*{
	Margin:0px;
}
@font-face{
	font-family:garaital;
  	src: url(CormorantGaramond-Italic-VariableFont_wght);
}
@font-face{
	font-family:garamondnew;
  	src: url(CormorantGaramond-VariableFont_wght.ttf);
}

body{
	display:flex;
	flex-direction:column;
	align-items:center;
	color:white;
	background-color:rgb(35, 35, 35);;
	background-image:url(forestBW.jpg);
	    /* 2. Prevent the image from repeating */
    background-repeat: no-repeat;
    /* 3. Position the image (often center) */
    background-position: center;
    /* 4. The key to adjustability: background-size */
    background-size: cover;
    color:rgb(211,211,211);
}
.container{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:60%;
	height:100%;
	background-color:rgb(25, 25, 25);
	background-image:linear-gradient(to right,rgb(25, 25, 25) 5%,rgb(35, 35, 35) 10%,rgb(35, 35, 35) 90%,rgb(25, 25, 25)95%)
}
.smallbox{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:80%;
	height:100%;
	background-color:rgb(35, 35, 35);
}
.top{
	width:80%;
	height:10vh;
	margin:10px;
	padding:30px;
	background-col
}
.heading{
	font-family:garamondnew;
	font-size:18px;
	background-color:
}
.subheading{
	font-family:garamondnew;
	line-height: 35px;
	background-color
}
.text{
	display:flex;
	flex-direction:column;
	width:80%;
	font-family:'Courier New', Courier, monospace;
	font-size:17px;
	line-height:27px;
	text-indent:20px;
	padding:0px;
}
.button-link1 img {
    /* Space between image and text */
    margin:30px 0px 50px 0px;
    width: 30px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    opacity:75%;
}

.button-link1 img:hover {
    opacity: 100%;
    border-color:rgba(255, 255, 255, 1) ;
}
.blink{
	position:absolute;
	display:none;
	width:100vw;
	height:100vh;
	z-index:10;
	background-color:black;
	opacity:0;
}
/* The animation code */
@keyframes blink {
 	0% { opacity: 0; }
 	35% { opacity: 1; }
  	65% { opacity: 1; }
  	100% { opacity: 0; }
}

/* The element to apply the animation to */
.blink {
	animation-delay:0s;
  	animation-name:blink;
  	animation-duration:.25s;
  	animation-timing-function: ease-in-out;
}
