*{
	Margin:10px;
}
@font-face{
	font-family:playfair;
  	src: url(PlayfairDisplay-VariableFont_wght.ttf);
}
body{
	background-color:rgb(35, 35, 35);
	color:white;
}
.heading{
	font-family:playfair,baskerville, serif;
	font-size:20px;
}
.subheading{
	line-height: 30px;
}
.space{
	height:15px;
}
.text{
	display:flex;
	flex-direction:column;
	width:80%;
	border:2px solid white;
	font-family:'Courier New', Courier, monospace;
	font-size:17px;
	line-height:25px;
	text-indent:15px;
	padding:5px;
}