*{
	Margin:0px;
}
@font-face{
	font-family:garaital;
  	src: url(CormorantGaramond-Italic-VariableFont_wght);
}
@font-face{
	font-family:garamondnew;
  	src: url(CormorantGaramond-VariableFont_wght.ttf);
}

body{
	display:flex;
	flex-direction:column;
	align-items:center;
	color:white;
	background-color:rgb(35, 35, 35);;
	background-image:url(forestBW.jpg);
	    /* 2. Prevent the image from repeating */
    background-repeat: no-repeat;
    /* 3. Position the image (often center) */
    background-position: center;
    /* 4. The key to adjustability: background-size */
    background-size: cover;
    color:rgb(211,211,211);
}
.container{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:60%;
	height:100%;
	background-color:rgb(25, 25, 25);
	background-image:linear-gradient(to right,rgb(25, 25, 25) 5%,rgb(35, 35, 35) 10%,rgb(35, 35, 35) 90%,rgb(25, 25, 25)95%)
}
.smallbox{
	display:flex;
	flex-direction:column;
	align-items:center;
	width:80%;
	height:100%;
	background-color:rgb(35, 35, 35);
}
.top{
	width:80%;
	height:10vh;
	margin:10px;
	padding:30px;
	background-col
}
.heading{
	font-family:garamondnew;
	font-size:18px;
	background-color:
}
.subheading{
	font-family:garamondnew;
	line-height: 35px;
	background-color
}
.text{
	display:flex;
	flex-direction:column;
	width:80%;
	font-family:'Courier New', Courier, monospace;
	font-size:17px;
	line-height:27px;
	text-indent:20px;
	padding:0px;
}
.links{
	bottom:1%;
	display:flex;
	width:45%;
	justify-content:space-between;
}
.button-link1 img {
    /* Space between image and text */
    margin:50px 0px 40px 0px;
    width: 60px; /* Adjust size as needed */
    height: 60px; /* Adjust size as needed */
    opacity:75%;
}
.button-link1 img:hover {
    opacity: 100%;
    border-color:rgba(255, 255, 255, 1) ;
}
.button-link2 img {
    /* Space between image and text */
    margin:50px 0px 40px 0px;
    width: 60px; /* Adjust size as needed */
    height: 60px; /* Adjust size as needed */
    opacity:75%;
}
.button-link2 img:hover {
    opacity: 100%;
    border-color:rgba(255, 255, 255, 1) ;
}
.blink{
	position:absolute;
	display:none;
	width:100vw;
	height:100vh;
	z-index:10;
	background-color:black;
	opacity:0;
}
/* The animation code */
@keyframes blink {
 	0% { opacity: 0; }
 	35% { opacity: 1; }
  	65% { opacity: 1; }
  	100% { opacity: 0; }
}

/* The element to apply the animation to */
.blink {
	animation-delay:0s;
  	animation-name:blink;
  	animation-duration:.25s;
  	animation-timing-function: ease-in-out;
}

@media screen and (max-width: 1024px){
h1{
	font-size: 30px;
}
h2{
	font-size: 20px;
}
.top{
	padding: 30px 30px 25px 30px;
	height:8vh;
}
.container{
	width:75%;
}
.text{
	font-size:15px;
	line-height:26px;
	text-indent:20px;
}
.button-link1 img {
    /* Space between image and text */
    margin:50px 0px 40px 0px;
    width: 60px; /* Adjust size as needed */
    height: 60px; /* Adjust size as needed */
    opacity:75%;
}
.button-link2 img {
    /* Space between image and text */
    margin:50px 0px 40px 0px;
    width: 60px; /* Adjust size as needed */
    height: 60px; /* Adjust size as needed */
    opacity:75%;
}
}
@media screen and (max-width: 768px){
h1{
	font-size: 25px;
}
h2{
	font-size: 16px;
}
.top{
	padding: 30px 30px 20px 30px;
	height:7vh;
}
.container{
	width:85%;
}	
.text{
	font-size:13px;
	line-height:24px;
	text-indent:18px;
}
.button-link1 img {
    /* Space between image and text */
    margin:40px 0px 40px 0px;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    opacity:75%;
}
.button-link2 img {
    /* Space between image and text */
    margin:40px 0px 40px 0px;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    opacity:75%;
}
}
@media screen and (max-width: 600px){
h1{
	font-size: 20px;
}
h2{
	font-size: 15px;
}
.top{
	padding: 30px 30px 10px 30px;
	height:7vh;
}
.container{
	width:100%;
}	
.text{
	font-size:10px;
	line-height:20px;
	text-indent:16px;
}
}
@media screen and (max-width: 480px){
h1{
	font-size: 15px;
}
h2{
	font-size: 10px;
	line-height:20px;
}
.top{
	padding: 30px 30px 0px 30px;
	height:6vh;
}
.container{
	width:100%;
}	
.text{
	font-size:8px;
	line-height:17px;
	text-indent:13px;
}
.button-link1 img {
    /* Space between image and text */
    margin:30px 0px 30px 0px;
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    opacity:75%;
}
.button-link2 img {
    /* Space between image and text */
    margin:30px 0px 30px 0px;
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    opacity:75%;
}
.links{
	bottom:1%;
	display:flex;
	width:50%;
	justify-content:space-between;
}
}
@media screen and (max-width: 425px){
h1{
	font-size: 14px;
}
h2{
	font-size: 10px;
	line-height:20px;
}
.top{
	padding: 30px 30px 0px 30px;
	height:6vh;
}
.container{
	width:100%;
}	
.text{
	font-size:8px;
	line-height:11x;
	text-indent:12px;
}
.button-link1 img {
    /* Space between image and text */
    margin:20px 0px 20px 0px;
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    opacity:75%;
}
.button-link2 img {
    /* Space between image and text */
    margin:20px 0px 20px 0px;
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    opacity:75%;
}
.links{
	bottom:1%;
	display:flex;
	width:50%;
	justify-content:space-between;
}
}
@media screen and (max-width: 375px){
h1{
	font-size: 14px;
}
h2{
	font-size: 10px;
	line-height:20px;
}
.top{
	padding: 30px 30px 0px 30px;
	height:5vh;
}
.container{
	width:100%;
}	
.text{
	font-size:6px;
	line-height:11px;
	text-indent:10px;
}
}
@media screen and (max-width: 320px){
h1{
	font-size: 10px;
}
h2{
	font-size: 8px;
	line-height:15px;
}
.top{
	padding: 30px 30px 0px 30px;
	height:4vh;
}
.container{
	width:100%;
}	
.text{
	font-size:6px;
	line-height:11px;
	text-indent:10px;
}
.button-link1 img {
    /* Space between image and text */
    margin:20px 0px 20px 0px;
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    opacity:75%;
}
.button-link2 img {
    /* Space between image and text */
    margin:20px 0px 20px 0px;
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    opacity:75%;
}
.links{
	bottom:1%;
	display:flex;
	width:40%;
	justify-content:space-between;
}
}

