*{
	margin:0px;
}
body{
	display:flex;
	justify-content: center;
	background-color:rgb(25, 25, 25);
}
.container{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width:100vw;
	height:100vh;
	background-color:rgb(25, 25, 25);
}
.image{
	display:flex;
	justify-content:center;
	width:100%;
	height:100%;
	background-image:linear-gradient(to right,rgb(25, 25, 25) 5%,rgb(35, 35, 35) 10%,rgb(35, 35, 35) 90%,rgb(25, 25, 25)95%);
}
.image img{
	width:80%;
	height:100%;
}
.links{
	position:absolute;
	bottom:1%;
	display:flex;
	width:20%;
	justify-content:space-between;
	z-index:11;
}

.button-link1 img {
    /* Space between image and text */
    margin:20px 20px 20px 20px;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    opacity:75%;
}
.button-link2 img {
    /* Space between image and text */
    margin:20px 20px 20px 20px;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    opacity:75%;
}

.button-link1 img:hover {
    opacity: 100%;
    border-color:rgba(255, 255, 255, 1) ;
}
.button-link2 img:hover {
    opacity: 100%;
    border-color:rgba(255, 255, 255, 1) ;
}
.light{
	position:absolute;
	opacity:0;
	width:100vw;
	height:100vh;
	background-color:rgb(247, 247, 247) ;
	z-index:10;
}
@keyframes blur{
	0% {filter:blur(10px)}
	100%{filter:blur(0px)}
}
@keyframes light{
	0%{opacity:1}
	50%{opacit:.50}
	100%{opacity:0}
}
@keyframes fade{
	0% {opacity:0.75}
	1% {opacity:0}
	100% {opacity:1}
}
.image{
	animation:blur 5s;
}
.links{
	animation:fade 6s ease-in 0s;
}
.light{
	animation:light 3s ease-in 0s;
}

