*{
	margin:0px;
}
body{
	display:flex;
	justify-content:center;
	background-color:rgb(25, 25, 25);
}
.container{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width:100vw;
	height:100vh;
	background-color:rgb(25, 25, 25);
}
.image{
	display:flex;
	justify-content:center;
	width:60%;
	height:100%;
	filter:blur(0px);
	background-image:linear-gradient(to right,rgb(25, 25, 25) 5%,rgb(35, 35, 35) 10%,rgb(35, 35, 35) 90%,rgb(25, 25, 25)95%);
}
.image img{
	width:70%;
	height:100%;

}
.links{
	position:absolute;
	bottom:1%;
	display:flex;
	width:20%;
	justify-content:space-between;
}


.button-link1 img {
    /* Space between image and text */
    margin:20px 20px 20px 20px;
    width: 30px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    opacity:75%;
}
.button-link2 img {
    /* Space between image and text */
    margin:20px 20px 20px 20px;
    width: 30px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    opacity:75%;
}

.button-link1 img:hover {
    opacity: 100%;
    border-color:rgba(255, 255, 255, 1) ;
}
.button-link2 img:hover {
    opacity: 100%;
    border-color:rgba(255, 255, 255, 1) ;
}
@keyframes blur{
	0% {filter:blur(10px)}
	100%{filter:blur(0px)}
}

@keyframes fade{
	0% {opacity:0.75}
	1% {opacity:0}
	100% {opacity:1}
}
.image{
	animation:blur 4s;
}
.links{
	animation:fade 5s ease-in 0s;
}