*{
	margin:0px;
}
body{
	display:flex;
	justify-content: center;
	background-color:rgb(25, 25, 25);
}
.container{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width:100vw;
	height:100vh;
	background-color:rgb(25, 25, 25);
}
.image{
	display:flex;
	justify-content:center;
	width:100%;
	height:100%;
	background-image:linear-gradient(to right,rgb(25, 25, 25) 5%,rgb(35, 35, 35) 10%,rgb(35, 35, 35) 90%,rgb(25, 25, 25)95%);
}
.image img{
	width:80%;
	height:100%;
}
.links{
	position:absolute;
	bottom:1%;
	display:flex;
	width:20%;
	justify-content:space-between;
	z-index:11;
}

.button-link1 img {
    /* Space between image and text */
    margin:20px 20px 20px 20px;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    opacity:75%;
}
.button-link2 img {
    /* Space between image and text */
    margin:20px 20px 20px 20px;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
    opacity:75%;
}

.button-link1 img:hover {
    opacity: 100%;
    border-color:rgba(255, 255, 255, 1) ;
}
.button-link2 img:hover {
    opacity: 100%;
    border-color:rgba(255, 255, 255, 1) ;
}
.dark{
	position:absolute;
	opacity:0;
	width:100vw;
	height:100vh;
	background-color:rgb(0,0,0) ;
	z-index:10;
}
@keyframes blur{
	0% {filter:blur(10px)}
	100%{filter:blur(0px)}
}
@keyframes dark{
	0%{opacity:1}
	75% {opacity:.50}
	100%{opacity:0}
}
@keyframes fade{
	0% {opacity:0.75}
	1% {opacity:0}
	100% {opacity:1}
}
.image{
	animation:blur 5s;
}
.links{
	animation:fade 9s ease-in 0s;
}
.dark{
	animation:dark 3s ease-in 0s;
}

@media screen and (max-width: 1024px){
.image{
	width:100%;
	height:100%;
}
.image img{
	width:90%;
	height:100%;
}
.links{
	bottom:1%;
	width:25%;
}

.button-link1 img {
    /* Space between image and text */
    margin:20px 20px 20px 20px;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
}
.button-link2 img {
    /* Space between image and text */
    margin:20px 20px 20px 20px;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Adjust size as needed */
}
}
@media screen and (max-width: 768px){
.image{
	background-image:none;
	width:100%;
	height:90%;
}
.image img{
	width:100%;
	height:90%;
}
.links{
	bottom:15%;
	width:35%;
}

.button-link1 img {
    /* Space between image and text */
    margin:20px 20px 20px 20px;
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
}
.button-link2 img {
    /* Space between image and text */
    margin:20px 20px 20px 20px;
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
}
}
@media screen and (max-width: 600px){
.image{
	background-image:none;
	width:100%;
	height:80%;
}
.image img{
	width:100%;
	height:80%;
}
.links{
	bottom:25%;
	width:40%;
}

.button-link1 img {
    /* Space between image and text */
    margin:20px 20px 20px 20px;
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
}
.button-link2 img {
    /* Space between image and text */
    margin:20px 20px 20px 20px;
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
}
}
@media screen and (max-width: 480px){
.image{
	background-image:none;
	width:100%;
	height:70%;
}
.image img{
	width:100%;
	height:70%;
}
.links{
	bottom:35%;
	width:40%;
}

.button-link1 img {
    /* Space between image and text */
    margin:20px 20px 20px 20px;
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
}
.button-link2 img {
    /* Space between image and text */
    margin:20px 20px 20px 20px;
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
}
}
@media screen and (max-width: 425px){
.image{
	background-image:none;
	width:100%;
	height:65%;
}
.image img{
	width:100%;
	height:65%;
}
.links{
	bottom:40%;
	width:40%;
}

.button-link1 img {
    /* Space between image and text */
    margin:20px 20px 20px 20px;
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
}
.button-link2 img {
    /* Space between image and text */
    margin:20px 20px 20px 20px;
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
}
}
@media screen and (max-width: 372px){
.image{
	background-image:none;
	width:100%;
	height:60%;
}
.image img{
	width:100%;
	height:60%;
}
.links{
	bottom:45%;
	width:40%;
}

.button-link1 img {
    /* Space between image and text */
    margin:20px 20px 20px 20px;
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
}
.button-link2 img {
    /* Space between image and text */
    margin:20px 20px 20px 20px;
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
}
}
@media screen and (max-width: 320px){
.image{
	background-image:none;
	width:100%;
	height:55%;
}
.image img{
	width:100%;
	height:55%;
}
.links{
	bottom:45%;
	width:50%;
}

.button-link1 img {
    /* Space between image and text */
    margin:20px 20px 20px 20px;
    width: 15px; /* Adjust size as needed */
    height: 15px; /* Adjust size as needed */
}
.button-link2 img {
    /* Space between image and text */
    margin:20px 20px 20px 20px;
    width: 15px; /* Adjust size as needed */
    height: 15px; /* Adjust size as needed */
}
}

