*{
	margin:0px;
}
body{
	background-color:rgb(25, 25, 25);
}
.container{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	width:100vw;
	height:100vh;
	background-color:rgb(25, 25, 25);
}
.image{
	display:flex;
	justify-content:center;
	width:80%;
	height:80%;
	background-image:linear-gradient(to right,rgb(25, 25, 25) 5%,rgb(35, 35, 35) 10%,rgb(35, 35, 35) 90%,rgb(25, 25, 25)95%);
}
.image img{
	width:80%;
	height:100%;
}
.button-link1 img {
    /* Space between image and text */
    margin-top:30px;
    margin-bottom:50px;
    width: 30px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    opacity:75%;
}

.button-link1 img:hover {
    opacity: 100%;
    border-color:rgba(255, 255, 255, 1) ;
}