*{
	margin:0px;
}
body{
	background-color:rgb(35, 35, 35);
	color:white;
}
@font-face{
	font-family:garamondnew;
  	src: url(CormorantGaramond-VariableFont_wght.ttf);
}
.header{
	font-family: garamondnew;
	font-size: 30px;
	line-height:100px;
}
.container{
	display:flex;
	width:100vw;
	height:100vh;
	background-color:rgb(25, 25, 25);
	justify-content:center;
	align-items:center;
}

.container2{
	display:flex;
	flex-direction:column;
    justify-content:center;
    align-items:center;
    height:40vh;
    width:70%;
	background-image:linear-gradient(to right,rgb(25, 25, 25) 5%,rgb(35, 35, 35) 10%,rgb(35, 35, 35) 90%,rgb(25, 25, 25)95%);
    line-height:40px;
}
